extends layout 

block content 
    h1 #{genre.name} Movies

    div(style='margin-left: 20px; margin-top: 20px;')

      dl
        each movie in genre_movies
          dt
           a(href=movie.url) #{movie.title}
          dd #{movie.synopsis}

        else 
          p This genre has no movies.