body {
  margin: 0;
}

a {
  color: #00b7ff;
}

.info-movie-m:first-child {
  margin-left: 0;
}

.info-movie-m {
  margin-left: 0.24rem;
}

.imdb-rate {
  font-size: 0.95rem;
  color: rgb(60, 60, 60);
}
